@model string

@{
    ViewData["Title"] = "ErrorMessage";
}

<div class="centered-container text-center">
    <h1 class="text-danger fs-3">@Model</h1>
    <div class="text-center">
        <a asp-controller="Secretary" asp-action="Profile" class="btn btn-primary m-3">Go Back To Admin Panel</a>
    </div>
</div>