@model Gradeflex.Models.Secretary.RegisterCourseModel

@{
    ViewData["Title"] = "RegisterCourse";
}

<div class="title-container text-center">
    <h1>Register Course</h1>
</div>

<div class="centered-container text-center">
    <form asp-action="RegisterCourse">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="login-form-container">
            <label asp-for="Title" class="control-label login-form-label"></label>
            <input asp-for="Title" type="text" class="form-control" />
            <div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <label asp-for="Semester" class="control-label login-form-label"></label>
            <input asp-for="Semester" type="text" class="form-control" />
            <div>
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            
            <input asp-for="Department" type="hidden" value="@Model.Department" />

            <input type="submit" value="Register Course" class="btn btn-primary submit-form-btn" />

            @if (ViewData.ModelState.IsValid == false)
            {
                <div class="text-danger mt-3">@ViewData.ModelState["wrong_credentials"]!.Errors[0].ErrorMessage</div>
            }
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}