@model Gradeflex.Models.Secretary.StudentCourseDeclarationModel

@{
    ViewData["Title"] = "StudentCourseDeclaration";
}

<div class="text-center centered-container">
    <h1>Course Declaration</h1>

    <form asp-action="StudentCourseDeclaration">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="login-form-container">
            <label asp-for="RegistrationNumber" class="control-label login-form-label"></label>
            <input asp-for="RegistrationNumber" type="text" class="form-control" />
            <div>
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            
            <input asp-for="CourseId" type="hidden" value="@Model.CourseId"/>
            <input asp-for="Department" type="hidden" value="@Model.Department"/>

            <input type="submit" value="Declare Course" class="btn btn-primary submit-form-btn" />

            @if (ViewData.ModelState.IsValid == false)
            {
                <div class="text-danger mt-3">@ViewData.ModelState["wrong_credentials"]!.Errors[0].ErrorMessage</div>
            }
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
