:root {
    --main-bg-color: #EFF5F7;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    background-color: var(--main-bg-color);
}

header {
    background-color: var(--bs-white);
}

footer {
    background-color: var(--bs-white);
}

.bg-main {
    background-color: var(--bs-white);
}

#brand-icon-bg {
    fill: black;
}

.brand-icon-svg {
    width: 3rem;
    height: 3rem;
}

#brand-icon-path {
    fill: var(--bs-white);
}

#brand-text {
    margin-top: 100px;
    margin-left: 1rem;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}