.logo-container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--bs-white);
    border-radius: 3rem;
    padding: 2rem;
    margin-top: 2rem;
    max-width: 700px;
}

.login-form-container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 400px;
    margin-bottom: 1rem;
}