@{
    ViewData["Title"] = "Login Page";
}

<form method="post">
    <div class="text-center login-container">
        <h1>Login</h1>
        <p class="text-start">
            Welcome to GradeFlex portal! Below you can enter
            the username and password provided to you by the university
        </p>
    </div>
</form>