@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web portal is written by WebFlexers organization and can only be used by licensed institutions. Copyright &copy; 2023 gradeflex.azurewebsites.net</p>

<h2>Current list of approved institutions (subject to change)</h2>
<ul>
    <li>University of Peireus</li>
</ul>