.grade-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    background-color: var(--secondary-bg-color);
    color: black;
}

.grade-container:hover {
    background-color: var(--secondary-bg-darker-color);
}

.grade-value-container {
    display: flex;
    align-items:end;
    justify-content: center;
}

.grade-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.grade-text {
    font-size: 1.2rem;
    font-weight: 400;
}

.grade-value {
    font-size: 1.3rem;
    font-weight: 500;
}

@media (max-width: 521px) {
    .grade-container {
        padding-top: 1.5rem;
    }
}